* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #A6D2C0;
}
h2{
  font-size: 15px;
}
h3 {
  font-size: 15px;
  text-decoration: underline;
  background-color: #E8944A;
  height:fit-content;
  width:auto;
  padding-top: 6px;
  border-radius: 16px;
} 

h4 {
  font-size: 14px;
}
.header{
  background-color: #E8944A;
  color: #434453;
  height:10vh;
  text-align: center;
}
.nav{
  background-color: #434453;
  color: #F4F2E4;
  height:5vh;
}
main{
  width: 100vw;
  max-width: 600px;
  margin: auto;
  min-height: 100vh;
}
.reviewsList{
  width: auto;
  height: auto;
  background-color: #A6D2C0;
  padding-top: 10px;
} 
.reviewsList li{
  border-radius: 16px;
  width: auto;
  height: fit-content;
  background-color: #434453;
  color: #F4F2E4;
  display: flex;
  flex-direction: column;  
  justify-content:center;
  text-align: center;
  padding: 16px;
  margin: 0px 10px 10px 10px;
} 

.reviewsList li div{
  border-radius: 16px;
  width: auto;
  height: fit-content;
  background-color: #A76F42;
  color: #F4F2E4;
  display: flex;
  flex-direction: row;  
  justify-content:space-between;
  padding: 6px;
} 
.reviewById {
  width: auto;
  height: auto;
  background-color: #A6D2C0;
  padding: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}
.reviewById img{
  height: 15vh;
  max-width: 120px;
  width: auto;
  margin-left: auto;
  margin-bottom: 6px
}
.reviewById section {
  max-width: 250px;
 
}
.reviewBody{
  border-radius: 16px;
  width: 100%;
  height: fit-content;
  background-color: #434453;
  color: #F4F2E4;
  display: flex;
  flex-direction: column;  
  justify-content:center;
  text-align: center;
  padding: 16px;
}
.commentsList {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reviewCommentCard {
  font-size:  14px;
  border-radius: 16px;
  width: 70%;
  height: fit-content;
  color: #F4F2E4;
  background-color: #A76F42;
  display: flex;
  flex-direction: column;  
  justify-content:center;
  text-align: center;
  padding: 16px;
  margin: 5px auto;
}
.reviewCommentCard p {
  word-wrap: break-word;
}
.reviewCommentCard h3{
  background-color: #A76F42;
}
.reviewCommentCard button{
  margin: auto;
  padding: 3px;
  width: fit-content;
  color: #F4F2E4;
  background-color: #434453;
}
.voteText{
  margin-top: 10px;
  color:#434453 ;
}
.vote{
  border-radius: 16px; 
  height:50px;
  width: 50px;
  background-color: #E8944A;
  color: #434453;
}
.vote:disabled{
  background-color:#A76F42;
}
.reviewTitle{
  background-color: #434453;
  color: #F4F2E4;
  padding: 10px;
  border-radius: 16px;
  max-width: 200px;
}
.loginForm{ 
  background-color:#E8944A;
  color:#434453;
  padding: 10px;
  border-radius: 16px;
  width: auto;
}
.loginForm select{ 
  margin-top: 5px;
  color:#F4F2E4;
  background-color:#434453;
  padding: 10px;
  border-radius: 16px;
  width: auto;
}
.submitForm{
  margin-top: 10px;
  background-color:#A76F42;
  color:#F4F2E4;
  padding: 10px;
  border-radius: 16px;
  width: auto;
}
.submitForm textarea{
  margin-top: 5px;
  width: 85%;
  background-color: #F4F2E4;
  color: #434453;
  resize: none;
}
.submitForm button{
  margin: auto;
  width: 54px;
  color: #F4F2E4;
  background-color: #434453;
}
.nav{
  background-color: #434453;
  color: #F4F2E4;
  height: auto;
  padding: 10px;
}
.nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style:none;
}

.navLink {
height: 20px;
width: 110x;
margin: 5px;
}
.navLink button{
  background-color:#A76F42;
  color:#F4F2E4;
  padding: 3px;
}
.sortBar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding :10px;
  width: auto;
  background-color:#434453;
  color: #F4F2E4;
}
.sortBar option{
  background-color: #A76F42;
  color: #F4F2E4;
}
.sortBar select{
  margin: 0px 10px; 
  background-color: #A76F42;
  color: #F4F2E4;
}